main {
	background-image: url("/assets/login.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 553px;
}
#newstyle {
	padding: 40px 40px;
	opacity: 0.9;
	border-radius: 8px;
	background-color: #000000;
}
.container{
	padding-top:100px;
}